{% extends "tedede/base.html" %}
{% load static %}

{% block content %}
  <div class="py-3"></div>
  <div class="p-2 text-center">
    <h1 class="display-4 py-2 my-2 font-weight-medium">Masuk</h1>
    <h5 class="serif my-3">Masuk dengan akun sosial Anda dan dapatkan berbagai kemudahan dalam menggunakan situs ini.</h5>
    <div id="social-login" class="p-3 mx-auto my-5 mw-25em text-left">
      <div class="m-4">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="no-deco">
          <div id="gapi-button" class="btn btn-block btn-outline-dark serif">
            <img class="m-1" id="g-logo" src="{% static 'oauth/img/gapi/btn_google_light_normal_ios.svg' %}">
            Masuk dengan Google
          </div>
        </a>
      </div>
      <div class="m-4">
        <a href="{% url 'social:begin' 'github' %}" class="no-deco">
          <div id="github-button" class="btn btn-block btn-outline-dark serif">
            {% include "oauth/svg/github/github.svg" %}
            Masuk dengan GitHub
          </div>
        </a>
      </div>
      <div class="m-4">
        <a href="{% url 'social:begin' 'line' %}" class="no-deco">
          <div id="github-button" class="btn btn-block btn-outline-dark serif">
            <img class="m-1" id="gh-logo" src="{% static 'oauth/img/line/line.svg' %}">
            Masuk dengan LINE
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
<script>
  $('#gapi-button').mouseover(
    function() {
      $('#g-logo').attr(
        {
          'src': "{% static 'oauth/img/gapi/btn_google_light_pressed_ios.svg' %}"
        }
      );
    }
  ).mouseout(
    function() {
      $('#g-logo').attr(
        {
          'src': "{% static 'oauth/img/gapi/btn_google_light_normal_ios.svg' %}"
        }
      );
    }
  ).click(
    function() {
      $('#g-logo').attr(
        {
          'src': "{% static 'oauth/img/gapi/btn_google_light_pressed_ios.svg' %}"
        }
      );
    }
  );
</script>
{% endblock custom_scripts %}
