{% extends "tedede/base.html" %}
{% load static %}

{% block content %}
  <div class="py-3"></div>
  <div class="p-2">
    <h1 class="py-2 my-2">Keluar</h1>
    <div class="my-2 serif">
      <p>
        Anda berhasil keluar. Terima kasih telah mengunjungi situs ini.
      </p>
      <p>
        Dalam beberapa saat, Anda akan dialihkan kembali ke halaman Buku.
      </p>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
<script>
  localStorage.setItem("isLoggedIn", "false");
</script>
{% endblock custom_scripts %}
