{% extends "tedede/base.html" %}
{% load static %}

{% block content %}
  <div class="py-3"></div>
  <div class="p-2">
    <h1 class="py-2 my-2">
      Selamat datang,
      {% if user.get_full_name %}
      {{ user.get_full_name }}
      {% else %}
      {{ user.get_username }}
      {% endif %}
    </h1>
    <div class="my-2 serif">
      <p>
        Dalam beberapa saat, Anda akan dialihkan kembali ke halaman Buku.
      </p>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
<script>
  localStorage.setItem("isLoggedIn", "true");
</script>
{% endblock custom_scripts %}
