{% extends 'home/base.html' %}

{% block title %}{{ block.super }} - Status{% endblock title %}

{% block content %}
<div class="py-3"></div>
<div id="add-status-header" class="px-2 serif">
  <h1 class="sans-serif px-1 py-2 text-info">Halo, apa kabar?</h1>
</div>
{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger">
    {{ error|escape }}
    </div>
  {% endfor %}
  <div class="py-3"></div>
{% endif %}
<form class="font-weight-medium px-4 pr-2 py-3" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
    <label class="mt-3" for="{{ field.name }}">{{ field.label }}</label>
    <div class="input-group mb-1">
      {{ field }}
    </div>
    {% for error in field.errors %}
      <div class="input-group">
        <strong class="font-weight-medium text-danger">{{ error|escape }}</strong>
      </div>
    {% endfor %}
  {% endfor %}
  <button type="submit" class="btn btn-info mt-4 font-weight-medium">
    Tambahkan
  </button>
</form>

<div class="py-5"></div>

<div id="status-list-header" class="px-2 serif">
  <h1 class="sans-serif px-1 py-2 text-info">Status</h1>
  <p class="text-secondary pl-3 my-3">
  {% if daftar_status %}
    Berbagai status sejauh ini.
  {% else %}
    Belum ada status.
  {% endif %}
  </p>
</div>

{% if daftar_status %}
<div class="table-responsive my-5 px-4 py-2">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Waktu</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for status in daftar_status %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ status.waktu }}</td>
        <td class="wb-all">{{ status.isi_status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock content %}
