/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500|Roboto+Slab');

html,
body {
  font-family: 'Maven Pro', sans-serif;
  color: #212121;
}

body {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/* Custom objects */

.loader {
    border: 16px solid #114255;
    border-top: 16px solid #00A4EE;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

#main-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Theming */

body.dark-mode {
  background-color: #171D23;
  color: #DEDEDE;
}

.bg-semidark {
  background-color: #1F2D3A;
}

.text-semilight {
  color: #CCCCCC;
}

.progress.dark-mode {
  background-color: #424242;
}

.no-deco {
  text-decoration: none !important;
}

.fill-light, #github-button:hover .fill-dark {
  fill: #ececec !important;
}

.fill-dark, #github-button:hover .fill-light {
  fill: #1b1817 !important;
}

/* Layouts */
.form-control.br-right {
  border-top-left-radius: 0;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
}

/* Sizing */

.mh-15em {
  max-height: 15em;
}

.mw-50vw {
  max-width: 50vw;
}

.mw-25em {
  max-width: 25em;
}

/* Fonts */
.sans-serif {
  font-family: 'Maven Pro', sans-serif;
}

.serif {
  font-family: 'Roboto Slab', serif;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
