{% extends 'subscribers/base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Pelanggan{% endblock title %}

{% block content %}
<div class="py-4"></div>
<div id="subscriber-results">
  <div id="subscriber-results-header" class="px-2 serif">
    <h1 class="sans-serif px-1 py-2 text-warning">Pelanggan</h1>
    <p id="results-exist" class="text-secondary pl-3 my-3">
      Daftar semua pelanggan situs ini.
    </p>
    <p id="results-empty" class="text-secondary pl-3 my-3" style="display: none;">
      Belum ada pelanggan di situs ini.
    </p>
  </div>

  <div id="subscriber-results-table" class="table-responsive my-5 px-4 py-2">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="align-middle" scope="col">No.</th>
          <th class="align-middle" scope="col">Nama</th>
          <th class="align-middle" scope="col">Alamat surel</th>
          <th class="align-middle" scope="col">Langganan</th>
        </tr>
      </thead>
      <tbody id="tbody-results">
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="unsub-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="unsub-modal-label">Berhenti berlangganan</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Masukkan kata sandi pelanggan ini (<span id="subscriber_email"></span>) untuk konfirmasi penghentian langganan.
        <form class="font-weight-medium px-5 py-3" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="" id="id_email">
            <div class="py-2"></div>
            <div id="form_password" class="input-group mb-2">
                <input type="password" name="password" placeholder="Kata sandi, minimal 8 karakter" maxlength="32" class="form-control" required="" id="id_password">
            </div>
            <div id="form_password_toggle" class="form-check">
                <input id="password-toggle" class="form-check-input" type="checkbox" onchange="togglePassword()">
                <label class="form-check-label" for="password-toggle">Perlihatkan kata sandi</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary font-weight-medium" data-dismiss="modal">Batal</button>
              <button id="id_submit" type="submit" class="font-weight-medium btn btn-danger my-4">Hapus</button>
            </div>
        </form>
        <h5 id="fail-message" class="font-weight-medium text-danger" style="display: none;">Kata sandi salah.</h5>
      </div>
    </div>
  </div>
</div>

<div class="py-3"></div>
{% endblock content %}
{% block custom_scripts %}
<script src="{% static "subscribers/js/manage.js" %}"></script>
{% endblock custom_scripts %}
