{% extends 'subscribers/base.html' %}
{% load static %}

{% block navbar %}
{% with current_nav='subscribers' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block title %}{{ block.super }} - Berlangganan{% endblock title %}

{% block content %}
  <div class="py-5"></div>
  <div id="register-header" class="serif px-3">
    <h1 class="sans-serif py-2 text-warning">Berlangganan</h1>
    <p class="text-secondary">Jadilah pelanggan situs ini dan dapatkan pemberitahuan mengenai hal terbaru.</p>
  </div>
  <div class="py-3"></div>
  <form class="font-weight-medium px-5 py-3" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <label class="mt-3" for="{{ field.name }}">{{ field.label }}</label>
      <div id="form_{{ field.name }}" class="input-group mb-2">
        {{ field }}
      </div>
      {% if field.name == 'password' %}
      <div id="form_{{ field.name }}_toggle" class="form-check">
        <input id="password-toggle" class="form-check-input" type="checkbox" onchange="togglePassword()">
        <label class="form-check-label" for="password-toggle">Perlihatkan kata sandi</label>
      </div>
      {% endif %}
      {% for error in field.errors %}
        <div id="{{ field.name }}_errors" class="input-group">
          <p class="font-weight-medium text-danger">{{ error.capitalize|escape }}</p>
        </div>
      {% endfor %}
    {% endfor %}
    <button id="id_submit" type="submit" class="font-weight-medium btn btn-warning my-4" disabled>
      Daftar
    </button>
  </form>
  <h5 id="success-message" class="font-weight-medium text-success" style="display: none;">Data berhasil disimpan.</h5>
  <h5 id="fail-message" class="font-weight-medium text-danger" style="display: none;">Data tidak valid.</h5>
  <div class="py-3"></div>
{% endblock content %}

{% block custom_scripts %}
<script src="{% static "subscribers/js/register.js" %}"></script>
{% endblock custom_scripts %}
