{% extends 'books/base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Buku{% endblock title %}

{% block content %}
<div class="py-3"></div>
<div id="book-header" class="px-2 serif">
  <h1 class="sans-serif px-1 py-2 text-info">Cari buku</h1>
</div>
<form action="volumes" class="font-weight-medium px-4 pr-2 py-3" method="get">
  <label class="mt-3" for="q">Kata kunci:</label>
  <label class="mt-3 float-right" for="maxResults">Batas:</label>
  <div class="input-group mb-1">
    <input type="text" name="q" maxlength="256" class="form-control" id="id_q" required>
    <div class="input-group-append">
      <input type="number" name="maxResults" min="1" max="40" class="form-control br-right" id="id_maxResults">
    </div>
  </div>
  <button type="submit" class="btn btn-info mt-4 font-weight-medium">
    Cari
  </button>
</form>

<div class="py-5"></div>

<div id="book-results" style="display: none;">
  <div id="book-results-header" class="px-2 serif">
    <h1 class="sans-serif px-1 py-2 text-info">Hasil pencarian</h1>
    <p id="results-success" class="text-secondary pl-3 my-3">
      Hasil pencarian berdasarkan kata kunci yang Anda berikan.
    </p>
    <p id="results-error" class="text-secondary pl-3 my-3">
      Terjadi kesalahan. Silakan periksa kembali masukan Anda atau tunggu beberapa saat.
    </p>
  </div>

  <div id="book-results-table" class="table-responsive my-5 px-4 py-2">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="align-middle" scope="col">No.</th>
          <th class="align-middle" scope="col">Judul</th>
          <th class="align-middle" scope="col">Penulis</th>
          <th class="align-middle" scope="col">Jumlah halaman</th>
          <th class="align-middle" scope="col">Terbitan</th>
          <th class="align-middle" scope="col">ISBN/ID</th>
          <th class="align-middle" scope="col">Sampul</th>
          <th class="align-middle" scope="col">Favorit</th>
        </tr>
      </thead>
      <tbody id="tbody-results">
      </tbody>
    </table>
  </div>
</div>

<div id="book-favorites">
  <div id="book-favorites-header" class="px-2 serif">
    <h1 class="sans-serif px-1 py-2">
      <span class="text-info">Buku favorit</span>
    </h1>
    {% if user.is_authenticated %}
      <h4 class="sans-serif pl-2 py-1">
        <span id="favs" class="text-right px-2">
          <i class="fas fa-star"></i> <span id="favorites-count"></span>
        </span>
        <span id="username" class="px-2">
          <i class="fas fa-user"></i>
              {% if user.get_full_name %}
                {{ user.get_full_name }}
              {% else %}
                {{ user.get_username }}
              {% endif %}
        </span>
      </h4>
    {% else %}
    <h3 class="sans-serif pl-2 py-1">
      <i class="fas fa-star"></i> <span id="favorites-count"></span>
    </h3>
    {% endif %}
    <p id="no-book-favorites" class="text-secondary pl-3 my-3">
      Belum ada buku favorit.
    </p>
    <p id="book-favorites-available" class="text-secondary pl-3 my-3">
      Daftar buku yang sudah Anda jadikan favorit.
      Segarkan <span class="font-italic">(refresh)</span> halaman ini
      untuk memperbarui tabel setelah menghapus buku dari favorit.
    </p>
  </div>

  <div id="book-favorites-table" class="table-responsive my-5 px-4 py-2">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th class="align-middle" scope="col">No.</th>
          <th class="align-middle" scope="col">Judul</th>
          <th class="align-middle" scope="col">Penulis</th>
          <th class="align-middle" scope="col">Jumlah halaman</th>
          <th class="align-middle" scope="col">Terbitan</th>
          <th class="align-middle" scope="col">ISBN/ID</th>
          <th class="align-middle" scope="col">Sampul</th>
          <th class="align-middle" scope="col">Favorit</th>
        </tr>
      </thead>
      <tbody id="tbody-favorites">
      </tbody>
    </table>
  </div>
</div>
<div class="py-3"></div>
{% endblock content %}
{% block custom_scripts %}
<script src="{% static "books/js/find.js" %}"></script>
{% endblock custom_scripts %}
