{% extends 'about/base.html' %}

{% block title %}{{ block.super }} - Tentang{% endblock title %}


{% block content %}
<div class="py-3"></div>
<div id="profile-header" class="text-center">
  {% load static %}
  <img src="{% static "img/photo.jpg" %}" class="rounded-circle mh-10em w-25 m-4">
  <div id="header-text">
    <p class="display-5 font-weight-medium text-primary">Sage Muhammad Abdullah</p>
    <p class="lead font-weight-medium text-secondary">laymonage</p>
    <p class="lead font-weight-medium"><i class="fas fa-map-marker-alt"></i>
    Jakarta, Indonesia
    </p>
  </div>
</div>
<div class="py-3"></div>
<div id="description" class="p-2">
  <p class="serif text-secondary text-justify">
      Saya adalah seorang mahasiswa Ilmu Komputer di Universitas Indonesia.
      Selain <i>programming</i>, saya suka menggambar dan fotografi, meskipun
      saya masih amatir dan tidak punya kamera. Saya juga suka bahasa dan sastra.
      Biasanya, saya mengisi blog saya dengan tulisan bebas dan puisi.
  </p>
</div>
<div class="py-3"></div>
<h2 class="sans-serif text-primary p-2 m-2">Keahlian</h2>
<div id="skills" class="serif font-weight-medium px-5 mx-auto">
  <div id="skill" class="py-3">
    <h4 class="py-2">Python</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="skill" class="py-3">
    <h4 class="py-2">Java</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="skill" class="py-3">
    <h4 class="py-2">Desain Grafis</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="skill" class="py-3">
    <h4 class="py-2">Fotografi</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="skill" class="py-3">
    <h4 class="py-2">Bahasa Inggris</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div id="skill" class="py-3">
    <h4 class="py-2">Bahasa Indonesia</h4>
    <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>
<div class="py-5"></div>
{% include 'about/self_details.html'%}
<div class="py-5"></div>
{% endblock content %}

{% block custom_scripts %}
<script src="{% static "js/collapse.js" %}"></script>
{% endblock custom_scripts %}
