{% load static %}
<div class="accordion" id="accordion-details">
  <div class="card collapsible">
    <div class="card-header" id="detail-1">
      <h5 class="mb-0">
        <button class="btn btn-link no-deco accordion-btn font-weight-medium collapse-toggle" type="button">
          Pengalaman
        </button>
      </h5>
    </div>
    <div id="collapse-1" class="collapse">
      <div class="card-body">
        <div id="organisasi" class="serif font-weight-medium p-5">
          <h3 class="sans-serif">Organisasi</h3>
          <div id="wikimedia" class="px-3">
            <div id="wmid-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/Wikimedia-logo-id.svg" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">Wikimedia Indonesia</h4>
            <h5 class="sans-serif">2017 - sekarang</h5>
            <p class="text-secondary text-justify p-3">
              Saya merupakan salah satu anggota Wikimedia Indonesia,
              organisasi yang berperan aktif dalam membebaskan
              pengetahuan di Indonesia. Saya juga pernah bekerja magang
              di organisasi ini untuk menjadi staf teknis yang
              mengonfigurasi peladen <i>(server)</i>.
            </p>
          </div>
        </div>
        <div id="kepanitiaan" class="serif font-weight-medium p-5">
          <h3 class="sans-serif">Kepanitiaan</h3>
          <div id="pmb2018" class="px-3">
            <div id="pmb2018-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/pmb-logo-cropped.png" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">Pembinaan Mahasiswa Baru 2018</h4>
            <h5 class="sans-serif">2018 - sekarang</h5>
            <p class="text-secondary text-justify p-3">
              Saya merupakan staf mentor dari kepanitiaan
              Pembinaan Mahasiswa Baru (PMB) 2018 di
              Fakultas Ilmu Komputer, Universitas Indonesia.
            </p>
          </div>
          <div id="iwbis2018" class="px-3">
            <div id="iwbis2018-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/Fasilkom-UI-logo.png" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">IWBIS 2018</h4>
            <h5 class="sans-serif">Mei 2018</h5>
            <p class="text-secondary text-justify p-3">
              Saya menjadi salah satu Liaison Officer (LO) pada
              forum International Workshop on Big Data and
              Information Security (IWBIS 2018) yang diselenggarakan
              oleh Fakultas Ilmu Komputer, Universitas Indonesia.
            </p>
          </div>
          <div id="wd4ai" class="px-3">
            <div id="wd4ai-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/WD4AI-logo.svg" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">WD4AI</h4>
            <h5 class="sans-serif">Agustus - November 2018</h5>
            <p class="text-secondary text-justify p-3">
              Saya menjadi salah satu panitia acara Wikidata for AI,
              sebuah lokakarya singkat yang bertujuan untuk memperkenalkan
              Wikidata sebagai sebuah peta pengetahuan dan mengeksplorasi
              representasi pengetahuan dan aspek penalaran Wikidata dalam
              lingkup kecerdasan buatan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card collapsible">
    <div class="card-header" id="detail-2">
      <h5 class="mb-0">
        <button class="btn btn-link no-deco accordion-btn font-weight-medium collapse-toggle" type="button">
          Proyek
        </button>
      </h5>
    </div>
    <div id="collapse-2" class="collapse">
      <div class="card-body">
        <div id="projects" class="serif font-weight-medium px-3">
          <a class="no-deco" href="https://laymonage.com/sagesans">
            <div class="px-3 my-3">
                <h4 class="sans-serif">sage sans</h4>
                <p class="text-secondary p-3">Font sans-serif berdasarkan tulisan tangan saya.</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/aidenbot">
            <div class="px-3 my-3">
                <h4 class="sans-serif">AidenBot</h4>
                <p class="text-secondary p-3">Bot multifungsi untuk aplikasi pesan instan LINE</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/tiga">
            <div class="px-3 my-3">
                <h4 class="sans-serif">Tiga</h4>
                <p class="text-secondary p-3">Tugas akhir kelas komik yang telah terdigitalisasi.</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/lunacy">
            <div class="px-3 my-3">
                <h4 class="sans-serif">Lunacy</h4>
                <p class="text-secondary p-3">Tema minimalis dan bersih dengan skema warna krem dan biru.</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/42">
            <div class="px-3 my-3">
                <h4 class="sans-serif">The Dark Side of Big Ben</h4>
                <p class="text-secondary p-3">Lukisan digital berupa kombinasi Big Ben dengan sampul album yang legendaris.</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/aidens-reactions">
            <div class="px-3 my-3">
                <h4 class="sans-serif">Aiden's Reactions</h4>
                <p class="text-secondary p-3">Set stiker yang ekspresif untuk percakapan harian Anda.</p>
            </div>
          </a>
          <a class="no-deco" href="https://laymonage.com/portal2-line-theme">
            <div class="px-3 my-3">
                <h4 class="sans-serif">[obsolete] Portal 2 LINE Theme</h4>
                <p class="text-secondary p-3">Tema rapi untuk aplikasi LINE Android</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card collapsible">
    <div class="card-header" id="detail-3">
      <h5 class="mb-0">
        <button class="btn btn-link no-deco accordion-btn font-weight-medium collapse-toggle" type="button">
          Prestasi
        </button>
      </h5>
    </div>
    <div id="collapse-3" class="collapse">
      <div class="card-body">
        <div id="prestasi" class="serif font-weight-medium p-5">
          <div id="besutkode2016" class="px-3">
            <div id="besutkode2016-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/wikimedia-besut-kode.jpg" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">Besut Kode</h4>
            <h5 class="sans-serif">2016</h5>
            <p class="text-secondary text-justify p-3">
              Saya menjadi pemenang utama Besut Kode 2016,
              sebuah perlombaan pengembangan perangkat lunak bebas
              dan bersumber terbuka yang diselenggarakan oleh
              Wikimedia Indonesia.
            </p>
          </div>
          <div id="gci2016" class="px-3">
            <div id="gci2016-img" class="mx-auto my-5 text-center">
              <img src="{% static "about/img/GCI.png" %}" class="mh-15em mw-50vw">
            </div>
            <h4 class="sans-serif">Google Code-in</h4>
            <h5 class="sans-serif">2016</h5>
            <p class="text-secondary text-justify p-3">
              Saya menjadi salah satu peserta Google Code-in 2016
              dan mendapatkan sertifikat dan hadiah dari Google.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
