<nav class="navbar {% if collapsed %}navbar-md{% else %}navbar-expand-md{% endif %} fixed-top bg-semidark navbar-dark">
  <a class="navbar-brand" href="{% url 'home:index' %}">sage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse" id="collapsibleNavbar">
    {% block navbar_contents %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2">
        <a class="nav-link{% if current_nav == 'home' %} font-weight-medium text-light{% endif %}" href="{% url 'home:index' %}">Beranda</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link{% if current_nav == 'books' %} font-weight-medium text-light{% endif %}" href="{% url 'books:index' %}">Buku</a>
      </li>
      <li class="nav-item mx-2 dropdown">
        <a class="nav-link dropdown-toggle{% if current_nav == 'subscribers' %} font-weight-medium text-light{% endif %}" href="#" id="subscriber-dropdown" data-toggle="dropdown" role="button">
          Pelanggan
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'subscribers:register' %}">Berlangganan</a>
          <a class="dropdown-item" href="{% url 'subscribers:index' %}">Daftar pelanggan</a>
        </div>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link{% if current_nav == 'about' %} font-weight-medium text-light{% endif %}" href="{% url 'about:index' %}">Tentang</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="https://gitlab.com/laymonage/tedede">Repo GitLab</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse order-3 dual-collapse">
    <ul class="navbar-nav ml-auto">
      <div id="mode-button" class="nav-item btn-group-toggle mx-2 my-2 my-md-0" data-toggle="buttons">
        <label class="btn btn-secondary">
          <input id="mode-checkbox" type="checkbox">
          <span id="mode-text" class="font-weight-medium">terang</span>
        </label>
      </div>
      <div id="log-button" class="nav-item mx-2 my-2 my-md-0">
        <a class="btn btn-primary font-weight-medium"
          {% if user.is_authenticated %}
            href="{% url 'oauth:logout' %}">Keluar
          {% else %}
            href="{% url 'oauth:login' %}">Masuk
          {% endif %}
        </a>
      </div>
    </ul>
    {% endblock navbar_contents%}
  </div>
</nav>
